$primary-color: #323232;
$secondary-color: #fafafa;
$button-color: #0095ff;
$form-color: #afafaf;
$bar-color: #e1e1e1;
$padding-desk: 0 180px;
$font-medium: "Avenir-Medium";
$font-demi:"Avenir-demi";
$font-Light:"Avenir-Light";
$font-bold:"Avenir-Bold";